@font-face {
  font-family: 'Orbitron';
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/Orbitron-Bold.ttf");
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Orbitron',sans-serif;
    color: red;
    margin: 0;
    background-color: black;
}

main {
	flex-grow:1;
}

form {
    margin: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
}

button {
    margin: 1em 1em 1em 1em;
    background-color: red;
    border: none;
    color: white;
    font-family: 'Orbitron',sans-serif;
    padding: 1em 1em 1em 1em;
}

#clock_div {
    text-align: center;
}

#settings{
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 1em;
    z-index: 1;
}

#credit{
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1em;
    z-index: 1;
}